html,body{
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1
{
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.dark
{
    background-color: black;
    color: rgb(255, 253, 248);
    border: white;
}

.light
{
    background-color: white;
    color: black;
    
}


