 body{
    background-color: rgb(240, 233, 233); 
}
/*
h1{
    color: rgb(0, 44, 138);
    text-decoration: dotted;
    color: black;
    
}
button{
    color: rgb(19, 228, 159);
    background-color: rgb(0, 255, 174);
    border: 19%;
    height: 25px;
    width: 70px;
}
.heading{
   
    text-align: center;
    
}
/* #id1
{
    background-color: cyan;
    color: rgb(255, 0, 0);
    border-width: 0vi;
    border-width: 5%;
    border-color: black;
    border-radius: 10px;
} */

/* .box
{
    text-align: center;
    border: 1px solid;
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 5px;
    background-color: rgb(157, 245, 245);
}

#box
{
    height: 200px;
    width: 100px;
    background-color: bisque;
    color: rgb(5, 15, 15);
    border: 1px solid black;
    text-align: center;
}
.content
{
    color: red;
}

.newclass{
    background-color: green;
}  */
div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: greenyellow;
}